body {
  background-color: #d8d8d8;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;

  #game {
    background-color: rgb(192, 192, 192);

    table {
      width: 100%;

      tr {
        td {
          vertical-align: top;

          .score {
            border: 1px solid #000;
            text-align: center;
            font-size: 1.5em;
      
            #tc_score {
              color: red;
              font-weight: bold;
            }
      
            #tc_score_mod {
              color: #66ff17;
            }
          }

          .multiplier {
            border: 1px dotted red;
            text-align: center;
            margin-top: 5px;
            font-size: 1.3em;
          }
      
          .clickerContainer {
            .clock {
              cursor: pointer;
            }

            img {
              position: relative;
              transition: all .2s ease-in-out;
      
              &:hover { transform: scale(1.10); }
              &:active { transform: scale(0.99); }
            }
          }

          &.side-menu {
            width: 255px;

            .tabs {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333333;
              margin-bottom: 4px;

              li {
                float: left;
                padding: 6px;

                a {
                  display: block;
                  color: white;
                  text-align: center;
                  padding: 8px 16px;
                  text-decoration: none;
                  cursor: pointer;

                  &.active {
                    color: #edffb6;
                    background-color: #756464;
                    border-radius: 8px;
                  }

                  &:hover {
                    background-color: #4e4d4d;
                  }
                }
              }
            }

            .building {
              border: 1px solid #000;
              padding: 3px;
              border-radius: 6px;
              background-color: rgba(142, 167, 132, 0.884);
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: flex-start;
              width: 250px;
              cursor: pointer;
              margin-bottom: 2px;
  
              .icon {
                border: 1px solid #000;
                width: 40px;
                height: 40px;
                background-color: #fff;
                text-align: center;
                border-radius: 6px;
  
                img {
                  max-width: 40px;
                  max-height: 40px;
                }
              }
  
              .info {
                flex: auto;
                text-align: center;

                .name {
                  font-weight: bold;
                  font-size: 1.2em;
                  padding-top: 2px;
                  margin-bottom: 4px;
                }
              }
  
              .count {
                text-align: center;
                font-size: 1.5em;
                font-weight: bold;
                width: 40px;
                padding-top: 10px;
              }
            }

            #tc_upgrades {
              display: none;
            }
          }
        }
      }
    }
  }
}